.idea/
.phpintel/
*.sublime-project
.DS_Store

node_modules/
/vendor/
/public/storage/
/public/modules/
/public/themes/
/storage/logs/*
public/phplog 
/tags
/.meta
mix-manifest.json
npm-debug.log
yarn-error.log
*.map 
Modules/**/vendor/
Modules/**/.gitkeep
*.log
