@import 'order-details/_order-details-top',
'order-details/_order-details-middle',
'order-details/_order-details-bottom';

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

.order-details-wrap {
    margin-top: 50px;

    .section-title {
        margin-bottom: 34px;
        padding-bottom: 13px;
        border-bottom: 1px solid $border-color-lite;
    }
}

.billing-details-section {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 40px 15px;

    .number-picker {
        display: inline-flex;
        align-items: center;

        label {
            font-weight: 400;
            margin-bottom: 0;
            color: #6e6e6e;
        }

        .input-group-quantity {
            position: relative;
            margin-left: 20px;

            .input-quantity {
                width: 75px;
                padding: 2px 37px 2px 2px;
                text-align: center;
                height: 37px;
                font-size: 15px;

                &:focus {
                    outline: 0;
                    border-color: $color-gray-lite;
                }
            }

            .btn-wrapper {
                position: absolute;
                top: 0;
                right: 0;

                .btn-number {
                    position: absolute;
                    right: 0;
                    width: 30px;
                    padding: 0;
                    line-height: 18px;
                    background: none;
                    border: 1px solid $color-gray-lite;
                    border-radius: 0;

                    &:hover {
                        color: $color-default;
                        color: var(--color-primary);
                    }

                    &[disabled] {
                        &:hover {
                            color: $color-black;
                        }
                    }
                }

                .btn-plus {
                    top: 0;
                    height: 19px;
                    border-top-right-radius: $radius-default;
                }

                .btn-minus {
                    top: 18px;
                    height: 19px;
                    border-bottom-right-radius: $radius-default;
                }
            }
        }
    }

}

.billing-details-form-outer {
    background: #F8F8F8;
    padding: 27px;
    border-radius: 5px;

    .form-group label {
        font-size: 108% !important;
    }

    .form-group label,
    div>span,
    .payment-item-title {
        font-weight: 400;
        font-size: 120%;
        font-family: 'Rubik', sans-serif;
    }


    .billing-details-form {
        padding-top: 5px;

        .input-field-wrap {
            padding-bottom: 25px;
        }
    }

    .form-group {
        margin-top: 10px;

        .form-radio {
            display: flex;
            justify-content: space-between;

            .price-amount {
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color-primary);
            }
        }
    }

    .error-message {
        font-family: 'Hind Siliguri', sans-serif;
    }

    .form-control.has-error {
        border-color: #e23e1d;
    }

    .order-summary-details {
        padding: 5px 10px;
        background: #ffffff;
        margin: 0 0px 30px;
        border-radius: 5px;

        .-subtotal-amount,
        .-delivery-charge,
        .-total-amount {
            font-size: 120%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 0px;
            font-family: 'Rubik', sans-serif;
        }

        .-total-amount:last-child {
            border-top: 1px solid #ebebeb;
            padding-bottom: 4px;

            label,
            span {
                font-weight: 500;
            }
        }

        label {
            margin: 0;
        }
    }
}

.billing-details-title {
    font-size: 160%;
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif !important;
    color: #0C0A06;
    margin-bottom: 20px;
    margin-top: 5px;
}

.billing-details-form .input-field-wrap label {
    font-size: 120%;
    word-spacing: 1px;
    font-weight: 400;
    color: #1c1f35;
    margin-bottom: 5px;
}

.billing-details-form .input-field-wrap input,
.billing-details-form .input-field-wrap textarea {
    background: #FFFFFF;
    height: 45px;
    border-radius: 5px;
}

.billing-details-form .input-field-wrap input:focus,
.billing-details-form .input-field-wrap textarea:focus {
    box-shadow: none;
    border: 1px solid #FF7E16;
}

.billing-details-form .input-field-wrap textarea {
    resize: none;
    height: 80px;
}

.cart-product-item-wrap {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
    margin-bottom: 25px;

    ul.product-options {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        li {
            border-bottom: 1px dashed #eeeeee !important;
            padding: 5px 0px 5px 0 !important;
            font-size: 15px;

            &:last-child {
                margin-bottom: 15px;
            }
        }
    }

    ul,
    li {
        list-style: none;
    }

    li {
        display: flex;
        border-bottom: 1px dashed #e0e0e0;
        padding-top: 20px;
        padding-bottom: 20px;

        &:last-child,
        &:first-child {
            border-bottom: none;
            padding-bottom: 10px;
            padding-top: 0px;
        }
    }
}

.cart-product-item-left {
    margin-right: 15px;
    padding-top: 8px;
}

.cart-product-item-left img {
    width: 85px;
    box-shadow: #d1d1d1 0px 0px 3px 0px;
    border-radius: 4px;
}

.cart-product-item-right {
    display: block;
    width: 100%;

    .right {
        display: block;
    }

    .btn-remove {
        margin-left: 10px;
    }
}

.cart-product-item-right .left .cart-product-name {
    font-size: 18px;
    font-weight: 400;
    color: rgb(21, 22, 53);
}

.cart-product-item-right .left .cart-product-price {
    font-size: 16px;
    font-weight: 500;
    color: #0C0A06;
    margin-bottom: 0;
}

.cart-product-item-right .right .counter-up {
    display: flex;
    background: #fff;
    border-radius: 25px;
    padding: 5px;
}

.cart-product-item-right .right .counter-up .qtyminus {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(255, 126, 22, 0.5);
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #FF7E16;
    cursor: pointer;
    border-radius: 50%;
}

.cart-product-item-right .right .counter-up .qtyplus {
    width: 30px;
    height: 30px;
    background: transparent;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #FF7E16;
    cursor: pointer;
    border: 1px solid rgba(255, 126, 22, 0.5);
    border-radius: 50%;
}

.cart-product-item-right .right .counter-up .qty {
    width: 60px;
    border: none;
    text-align: center;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #000;
    outline: none;
}

.oder-summary-wrap {
    .sub-total-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .product-price {
        font-weight: 400;
    }
}

.sub-total-item.grand-total {
    border-top: 1px solid #EEEEEE;
    padding-top: 10px;
    margin-bottom: 25px;
}

.condition-ac-wrap {
    margin: 20px 0;
}

.condition-ac-wrap label {
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}

.order-place-btn-inner {
    width: 100%;
    border: 0;
    background: var(--color-primary);
    padding: 5px 0;
    font-size: 220%;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;

    &:hover {
        background: var(--color-primary-hover);
    }
}


.payment-items-wrap {
    background: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
}

.payment-items-wrap:before {
    content: "";
    display: block;
    border: 1em solid #ffffff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -0.75em;
    left: 0;
    margin: -1em 0 0 2em;
}

.payment-items-wrap {
    p {
        margin-bottom: 0;
        font-size: 99%;
        font-weight: 400;
        font-family: "Hind Siliguri", sans-serif;
    }

    b {
        font-weight: 600;
    }
}

.oder-summary-wrap .sub-total-item input {
    border: none;
    background: transparent;
    text-align: right;
    margin-right: 8px;
    font-weight: 700;
    font-size: 18px;
    width: 100px;
}

.oder-summary-wrap .sub-total-item input:focus-visible {
    outline: none;
}

.landing-page {
    width: 100%;
    padding: 0 50px 0 0;
}

.landing-page-product {
    @media (min-width: 1200px) {
        .product-details-top-inner.grid {

            display: grid;
            grid-template:
                "baseImage productInfo"
                "additionalImage additionalImage";
            column-gap: 30px;
            grid-template-columns: 620px auto;
            row-gap: 0px;

            .baseImage {
                grid-area: baseImage;
            }

            .additionalImage {
                grid-area: additionalImage;
            }

            .productInfo {
                grid-area: productInfo;
            }

        }
    }
}

.landingpage-wraping {

    .description,
    .description>*,
    .description p,
    .description b,
    .description span,
    .description h1,
    .description h2,
    .description h3,
    .description h4,
    .description h5,
    .description h6 {
        font-family: 'Hind Siliguri', sans-serif;
    }

    .description p {
        font-size: 130%;
        line-height: 215%;
        color: #434343;
    }

    .product-details-info .product-name {
        font-size: 180%;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
        font-family: 'Hind Siliguri', sans-serif;
    }

    .product-details-info .brief-description {
        margin-bottom: 12px;
        color: #565656;
        font-size: 120%;
        font-family: 'Hind Siliguri', sans-serif;
        padding-right: 25%;
    }

    @media screen and (min-width: 1000px) {
        .brief-description {
            padding-right: 25%;
        }
    }

    @media screen and (max-width: 1500px) {
        .container {
            padding-left: 48px;
            padding-right: 48px;
        }

        .landing-page-product .product-details-top-inner.grid {
            grid-template-columns: 525px auto;
        }
    }

}

@media screen and (max-width: 600px) {
    .product-details-wrap {
        margin-top: 20px;
    }

    .base-image-wrap {
        border: none;
    }

    .landingpage-wraping .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .landing-page {
        padding: 0px;
    }

    .offer-additional-image-wrap {
        margin: 20px 0 0 0px;
        gap: 35px;
        grid-template-columns: repeat(1, 1fr);
    }

    .billing-details-section [class^="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .billing-details-form-outer {
        padding-top: 10px;
    }

    .footer-container {
        padding-top: 0 !important;
    }

    .footer-links {
        margin-top: 38px;
        margin-left: 40px;
    }
}